body {
  font-family: arial;
  color: slategray;
}

h1 {
  font-size: 300%;
}

h1 sup {
  font-size: 50%;
}

h1,
h2 {
  font-weight: 100;
  color: orange;
  text-transform: uppercase;
}

.headImg {
  max-width: 100%;
  height: auto;
  margin-top: 0%;
  position: relative;
}

#gall {
  text-align: center;
}

#headText {
  position: absolute;
  text-align: center;
  top: 8px;
  /*left: 16px;*/
}

#headerText {
  text-align: right;
}

#contact {
  color: orange;
  font-size: 150%;
}

a {
  color: orange;
}

.icons {
  top: 83%;
  left: 0;
  transform: translateY(-50%);
  position: fixed;
  z-index: 100;
  text-shadow: 2px 2px 4px black;
}

.icons ul {
  padding: initial;
  font-size: 140%;
}

.icons ul li {
  height: 30px;
  width: 30px;
  list-style-type: none;
  padding-left: 9px;
  padding-top: 6px;
  margin-top: 2px;
  background: slategray;
}

.icons ul li:hover {
  padding-left: 40px;
  width: 30px;
  transition: 0.5s;
}

#copyright {
  text-align: right;
}

#headText {
  background-color: rgba(0, 0, 0, 0.5);
  width: max-content;
  height: max-content;
  padding: 6px;
}
